/* Hide sidebar on mobile by default */
#sidebar {
  display: none;
}


$h5: 20px;
$h3: 16px;
$greyedtext: #a5a7b3;

#ulnav {
  gap: 10px;
}

#ulnav .nav-link:hover {
  border-bottom: 3px solid #007bff;
}

#highlightednav {
  padding: 16px 80px 16px 60px;
  text-decoration: none;
  font-style: white;
}

#overviewcards {
  gap: auto;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $greyedtext;
}

.card-number {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Define blue glow color
$blue-border: #007bff; // blue border
$font-hover: #007bff;


.card {
  margin: 20px 0px;
  padding-top: 20px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.144);
  border: 2px solid transparent;
  // transition: transform 0.3s ease, background-color 0.3s ease; // Smooth transition for transform and background-color
  transition: none; // Disable transition


  &:hover {
    transform: translateY(-5px); // Lift the card slightly on hover
    background-color: rgb(240, 240, 240); // background change
    color: $font-hover;
    border: 2px solid $blue-border // blue border on hover
  }
}

.no-transform {
  &:hover {
    transform: none; // Disable translation on hover
  }
}

.modal {
  z-index: 1050 !important;
}
.modal-backdrop {
  z-index: 1040 !important;
}

.modal-backdrop.show {
  opacity: 0.5; // Adjust to make sure it's visible but doesn't blur content too much
}

.modal-open-custom .card:hover {
  transform: none;
  background-color: white;
  border: 2px solid transparent;
}

#graphcard {
  width: 100%;
  /* Makes sure the canvas fills the container's width */
  height: 400px;
  /* Set a fixed height for the graph */
  max-width: 100%;
  /* Prevents it from stretching beyond the container */
}


#todaystrend {
  width: 94%;
  height: auto;
  margin: 0 30px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Graph
#graphcard {
  width: auto;
  height: auto;
  padding: 0;
}

// Info beside graph
// Middle section
#rowinfo {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding: 0px;
  border: 1px solid #ddd;
  /* Add a border around the entire container */
  border-radius: 0px;
}

#graph {
  border: 1px solid #ddd;
  padding: 1rem;
  // margin-bottom: 1rem;
  border-radius: 0%;
  /* Optional: to add rounded corners */
}

#middlerow {
  padding: 16px;
  height: auto;
  display: flex;
  background-color: white;

}



#rowtext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  /* Border between rows */
}

/* Style for individual rows inside the info section */
#rowinfo .row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* Make sure the rows stretch to fill the container */
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  /* Border between rows */
}

/* Remove bottom border from the last row */
#rowinfo .row:last-child {
  border-bottom: none;
}

/* Bottom right card */
.list-group-item {
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.list-group-item {
  padding-top: 16px;
  padding-bottom: 26px;
}

/* bottom left card */
.bottomlefttable {
  height: auto;
}

h3 {
  font-family: Mulish;
  font-size: $h3;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $greyedtext;

}

h5 {
  font-family: Mulish;
  font-size: $h5;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #252733;

}

#h5special {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #252733;

}

h6 {

  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $greyedtext;

}

#h6special {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: $greyedtext;
}

p {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $greyedtext;
}

.mytable>tbody>tr>td,
.mytable>tbody>tr>th,
.mytable>tfoot>tr>td,
.mytable>tfoot>tr>th,
.mytable>thead>tr>td,
.mytable>thead>tr>th {
  padding: 15px;
}

// Right text styling
.righttext {
  display: flex;
  justify-content: right;
  text-align: right;
}

/* Hide default radio button */
.custom-radio {
  display: none;
}

/* Custom radio button */
.custom-radio+.form-check-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
}

.custom-radio+.form-check-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Add checkmark when checked */
.custom-radio:checked+.form-check-label::after {
  content: "\f00c";
  position: absolute;
  left: 2px;
  top: -2px;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  color: #fff !important;
}

/* On hover */
.custom-radio+.form-check-label:hover::before {
  border-color: #0056b3;
}

/* On active */
.custom-radio:checked+.form-check-label::before {
  background-color: #007bff;
  border-color: #007bff;
}

@media (min-width: 768px) {
  #sidebar {
    display: block;
    right: 5px;
  }

  .card {
    &:hover {
      transform: translateY(-5px);
    }
  }
}

/*# sourceMappingURL=style.css.map */